* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100dvh;

    scroll-behavior: smooth;
    font-family: monospace;
}

html {
    font-size: 18px;
}

body {
    font-size: 1em;
}

main {
    overflow: hidden;
}

input {
    outline: none;
}

button {
    background-color: transparent;
    cursor: pointer;
}

button:disabled {
    opacity: 0.9;
    cursor: default;
    pointer-events: none;
}

input[type="checkbox"] {
    cursor: pointer;
}

a {
    text-decoration: none;
    all: unset;
    cursor: pointer;
}

li {
    list-style: none;
}

img {
    vertical-align: text-bottom;
}

progress {
    -webkit-appearance: none;
    appearance: none;
}

textarea {
    resize: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--bg-100) inset !important;
}
